[submodule "test-results"]
	path = test-results
	url = https://github.com/irvin/web-resilience-test-result
	branch = main
[submodule "top-traffic-list-taiwan"]
	path = top-traffic-list-taiwan
	url = git@github.com:web-resilience-test/top-traffic-website-list-korea.git
