[submodule "test-results"]
	path = test-results
	url = https://github.com/web-resilience-test/web-resilience-test-result-kr.git
	branch = main
[submodule "top-traffic-list-korea"]
	path = top-traffic-list-korea
	url = git@github.com:web-resilience-test/top-traffic-website-list-korea.git
